</body>
<script>
const sortTable = document.getElementById('sortTable0');

sortTable.addEventListener('click', function() {
    console.log('clicked');
})


function erase(ticket) {
    console.log(ticket);
}
</script>

</html>