<% include partials/header.ejs %>

<h1> Wilson's MySQL + NodeJS Ticketing Page </h1>

<a href="register"> Customer Registration </a>

<a href="customer_login"> Customer Login </a>

<a href="staff_login"> Staff Login </a>


<% include partials/footer.ejs %>