<% include partials/header.ejs %>

<div class="jumbotron">
<h1> Staff Login </h1>
</div>

<form method="post" action="/staff_login">
    <input type="name" name="name" placeholder="Last Name" required />
    <input type="password" name="password" placeholder="Password" required />
    <input type="submit" />
    </form>


<% include partials/footer.ejs %>